In [13]:
import pandas as pd


gpt_df = pd.read_csv('gpt_df.csv')
human_df = pd.read_csv('human_df.csv')

human_df

,Unnamed: 0,id,title,label,annotator,Q1.1,Q1.2,Q1.3.1,Q1.4,Q1.5,...,Q1.7.1_5,Q1.7.1_6,Q1.7.1_7,Q1.7.1_8,Q1.7.1_9,Q1.7.1_10,Q1.7.1_11,Q1.7.1_12,Q1.3_aggregated,Q1.7.1_aggregated
0,0,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Group 2,Manuel,1,2,-1,2,4,...,-1,-1,-1,-1,-1,-1,-1,-1,-7,-13
1,4,34b92f4c-32db-454c-a369-ca2032443f6c,Le borsette fatte a 3 euro l'ora vendute a 820...,Group 1,Manuel,2,3,-1,1,3,...,-1,-1,-1,-1,-1,-1,1,-1,-7,-11
2,10,1e96c067-412e-4a93-9dc3-2838ef233942,Caso Ciro Grillo| i video e quella telefonata ...,Group 1,Manuel,1,3,2,2,4,...,-1,-1,-1,-1,-1,-1,-1,-1,-5,-13
3,12,0c834cb0-392a-4a5e-948f-237a2c8bef31,La madre della neonata salvata in mare: «Chied...,Group 2,Manuel,2,3,2,2,3,...,-1,-1,-1,-1,-1,-1,1,-1,-5,-11
4,14,184a4635-a693-4ccd-af1a-143455c391e1,Finanziaria: almeno 150 milioni nella variazio...,Group 2,Manuel,1,4,-1,2,4,...,-1,-1,-1,-1,-1,-1,-1,-1,-7,-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,607,6ede1205-d74f-4bb1-8c37-15fc5b4738ac,Il degrado di Milano oltre i limiti di guardia,Group 1,Manuel,2,3,-1,1,2,...,-1,-1,-1,-1,-1,-1,-1,-1,-7,-11
212,611,0dc73a1c-4c03-4b2f-8344-f3c898900c01,Habemus Papam,Group 1,Manuel,2,2,-1,1,2,...,-1,-1,-1,-1,-1,-1,-1,1,-7,-5
213,613,cb932977-03e8-46fd-bd91-34e28dba01bd,Il Cts cambia idea suAstrazeneca.Ormai è chiar...,Group 2,Manuel,2,2,-1,1,2,...,-1,-1,-1,-1,-1,-1,1,-1,-5,-11
214,623,2e46bc4c-a4bb-4d18-ab2b-94dc738db629,I chiusuristi tifano per l’emergenza continua,Group 2,Manuel,3,2,-1,1,2,...,-1,-1,-1,-1,-1,-1,1,-1,-7,-11
215,625,3dba1506-79ad-4986-8e89-8af3ace87096,Enrichetto si schianta sulla legge Lgbt e l’al...,Group 1,Manuel,2,3,-1,1,2,...,-1,-1,-1,-1,-1,-1,-1,1,-5,-11

In [19]:
value_counts = human_df['Q1.1'].value_counts()

value_counts

Q1.1
1    142
3     40
2     22
5     11
4      1
Name: count, dtype: int64

In [18]:
value_counts = gpt_df['Q1.1'].value_counts()

value_counts

Q1.1
3    113
1     72
2     20
5     11
Name: count, dtype: int64