In [1]:
import pandas as pd

df = pd.read_csv('../merged_checked.csv')

df

,id,title,label,annotator,Q1.1,Q1.2,Q1.3,Q1.3.1,Q1.4,Q1.5,Q1.6,Q1.7,Q1.7.1,Q1.7.1.2,Q2.8,Q2.9.1,Q2.9.2,Q2.10
0,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Group 2,Manuel,1,2,31,-1,2,4,4,1,0,-1,1,2,2021-05-31,2
1,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Group 2,Angelo,1,3,10,1,1,4,4,1,0,-1,1,2,2021-05-31,2
2,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Group 2,Manuel,1,4,10,-1,2,4,4,1,0,-1,3,2,2021-05-31,2
3,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Group 2,Marinella,1,4,10,-1,1,4,4,2,5,-1,3,2,2021-05-31,2
4,34b92f4c-32db-454c-a369-ca2032443f6c,Le borsette fatte a 3 euro l'ora vendute a 820...,Group 1,Manuel,2,3,31,-1,1,3,2,2,5,Fashion craft industries system,3,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,36b6adb6-b2b3-451b-bb03-4721baa3b1ed,Eurispes: c’è chi millanta invasione stranieri...,Group 1,ChatGPT4AsAnnotator,3,4,2,-1,2,3,4,1,0,-1,3,2,NaN,2
737,19d1909f-6c14-42e6-917a-2b6d9fecc7ba,"Meteo, grandinate record e bombe d'acqua da No...",Group 2,ChatGPT4AsAnnotator,1,4,1,-1,2,3,4,1,1,-1,3,2,2021-05-14,1
738,50f01f08-8681-4e9f-a6b4-174587ffae2e,"Scandalo concerie, colpo di scena al tavolo di...",Group 2,ChatGPT4AsAnnotator,3,4,1,-1,2,3,4,1,0,-1,1,2,2021-05-28,2
739,c0d0d9ca-a727-47d9-ac5b-570f37087310,Il registro elettronico che agita le famiglie:...,Group 2,ChatGPT4AsAnnotator,3,4,1,-1,2,3,4,1,1,-1,3,1,NaN,1
740,748e746f-5f40-45c4-bc63-3780ee886f3c,Da lunedì via libera al vaccino per gli over 4...,Group 1,ChatGPT4AsAnnotator,1,4,1,-1,2,3,4,1,1,-1,1,2,2021-05-17,1

In [2]:
# Filtra gli articoli annotati sia da Manuel che da ChatGPT4AsAnnotator
df = df[
    (df['annotator'] == 'Manuel') | 
    (df['annotator'] == 'ChatGPT4AsAnnotator')
]
df


# Conta quante volte appare ciascun articolo
article_counts = df['id'].value_counts()

# Filtra il DataFrame mantenendo solo le righe degli articoli che compaiono esattamente due volte
df = df[df['id'].isin(article_counts[article_counts == 2].index)]

# Ora df_filtered contiene solo le righe degli articoli che compaiono due volte
print(df)

                                       id  \
14   184a4635-a693-4ccd-af1a-143455c391e1
23   367975f9-7098-42a2-96e4-1cf4bfa33f6d
31   36b6adb6-b2b3-451b-bb03-4721baa3b1ed
63   3c55c68b-f091-435a-98f1-ae6d93a8e939
79   2c2f3cd4-b034-4189-b8ef-213a66fa4b52
..                                    ...
735  f964e254-d60e-4509-9a03-b62d8b5f2568
736  36b6adb6-b2b3-451b-bb03-4721baa3b1ed
738  50f01f08-8681-4e9f-a6b4-174587ffae2e
739  c0d0d9ca-a727-47d9-ac5b-570f37087310
740  748e746f-5f40-45c4-bc63-3780ee886f3c

                                                 title    label  \
14   Finanziaria: almeno 150 milioni nella variazio...  Group 2
23   Vaccini| attenzione all'ingorgo Over 40 allo s...  Group 2
31   Eurispes: c’è chi millanta invasione stranieri...  Group 1
63   Così i Querdenken possono destabilizzare la Ge...  Group 2
79   Emergenza covid| sindaca leghista arrestata: a...  Group 1
..                                                 ...      ...
735  Covid, fake news di Montesano: «Il sangue dei ...  Group 2
736  Eurispes: c’è chi millanta invasione stranieri...  Group 1
738  Scandalo concerie, colpo di scena al tavolo di...  Group 2
739  Il registro elettronico che agita le famiglie:...  Group 2
740  Da lunedì via libera al vaccino per gli over 4...  Group 1

               annotator  Q1.1  Q1.2  Q1.3  Q1.3.1  Q1.4  Q1.5  Q1.6  Q1.7  \
14                Manuel     1     4    31      -1     2     4     4     1
23                Manuel     1     3    44      -1     1     4     4     1
31                Manuel     2     3    19       1     1     3     4     1
63                Manuel     1     3    26      -1     1     4     4     1
79                Manuel     1     4    31      -1     2     4     4     1
..                   ...   ...   ...   ...     ...   ...   ...   ...   ...
735  ChatGPT4AsAnnotator     2     4     1      -1     2     3     2     2
736  ChatGPT4AsAnnotator     3     4     2      -1     2     3     4     1
738  ChatGPT4AsAnnotator     3     4     1      -1     2     3     4     1
739  ChatGPT4AsAnnotator     3     4     1      -1     2     3     4     1
740  ChatGPT4AsAnnotator     1     4     1      -1     2     3     4     1

     Q1.7.1         Q1.7.1.2  Q2.8  Q2.9.1      Q2.9.2  Q2.10
14        0               -1     1       2  2021-06-01      1
23       13               -1     2       2  2021-06-03      1
31        0               -1     1       1         NaN      1
63        0               -1     3       1         NaN      1
79        0               -1     3       2  2021-01-15      2
..      ...              ...   ...     ...         ...    ...
735       3  EnricoMontesano     3       2  2021-06-21      1
736       0               -1     3       2         NaN      2
738       0               -1     1       2  2021-05-28      2
739       1               -1     3       1         NaN      1
740       1               -1     1       2  2021-05-17      1

[134 rows x 18 columns]

In [13]:


print('Manuel')
manuel = df[df["annotator"] == "Manuel"]
print(manuel['Q2.10'].value_counts())

print('---------------------------')
print('---------------------------')

gpt = df[df["annotator"] == "ChatGPT4AsAnnotator"]
print('ChatGPT')
print(gpt['Q2.10'].value_counts())

Manuel
Q2.10
2    47
1    20
Name: count, dtype: int64
---------------------------
---------------------------
ChatGPT
Q2.10
1    42
2    25
Name: count, dtype: int64