In [40]:
import pandas as pd


target = pd.read_csv('../merged_checked.csv')

toMerge =  pd.read_csv('../../Query/output/1_7_1.csv')

In [41]:
toMerge[0:5]

,id,title,annotator,Q1.7.1
0,aa3f5101-f028-4a4d-8491-407298431a7e,"Reddito di cittadinanza, in arrivo il pagament...",ChatGPT4AsAnnotator,6
1,8bac2063-0de3-462a-bbf6-80c679524ea7,Così i neonati sparivano negli ospedali dell’e...,ChatGPT4AsAnnotator,5
2,a08bbd16-9b44-41ed-8f63-f7d7752bc841,Spie russe nel cuore d'Europa: l'oscuro gioco ...,ChatGPT4AsAnnotator,6
3,b3e3d88a-0f40-4046-95a2-3a862e36c789,"Covid a Napoli, è boom di contagi: la terza on...",ChatGPT4AsAnnotator,6
4,584acaaf-fa1c-4ac0-ab29-4862b214ba95,ARRESTATO MEDICO ONCOLOGO A BARI : 130MILA EUR...,ChatGPT4AsAnnotator,6

In [42]:
target[0:5]

,id,title,annotator,Q1.1,Q1.2,Q1.3,Q1.3.1,Q1.4,Q1.5,Q1.6,Q1.7,Q1.7.1,Q1.7.1.2
0,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Manuel,2;1;1;1;1,2,3,-1,2,4,4,1,-1,-1
1,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Angelo,2;1;1;1;1,3,1;3,1,1,4,4,1,-1,-1
2,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Manuel,2;1;1;1;1,4,1;3,-1,2,4,4,1,-1,-1
3,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Marinella,2;1;1;1;1,4,1;3,-1,1,4,4,2,-1,-1
4,34b92f4c-32db-454c-a369-ca2032443f6c,Le borsette fatte a 3 euro l'ora vendute a 820...,Manuel,1;2;1;1;1,3,3,-1,1,3,2,2,-1,Fashion craft industries system

In [43]:
# Merge dei due dataframe basato su 'id' e 'annotator'
merged_df = target.merge(toMerge[['id', 'annotator', 'Q1.7.1']], on=['id', 'annotator'], how='left', suffixes=('', '_toMerge'))

# Aggiornamento della colonna 'Q1.3' nel dataframe target
target['Q1.7.1'] = merged_df['Q1.7.1_toMerge'].combine_first(merged_df['Q1.7.1'])

In [44]:
target.to_csv('../merged_checked_with_single_columns.csv')